.topForm {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.topInput {
    width: calc(100% - 100px);
    box-sizing: border-box;
    margin-bottom: 50px;
}

.styleButtonContainer {
    padding: 0 50px;
    box-sizing: border-box;
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-bottom: 50px;
}

.generateButton {
    width: 200px;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../../../images/birthday_card04.jpg);
}
